/* 
Breakpoints
  576px - mobile
  768px - tablet
  992px - desktop
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #9792e4;
  --color-secondary: #0084fd;
  --color-secondary-l: #b5ddff;
}

.container {
  width: 960px;
  margin: 0 auto;

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}


/* --------------- UTILITIES --------------- */
/* ----- FLEX ----- */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* ---------- COLUMNS ---------- */
.col-1 {
  width: calc((100% / 3) - 15px);

  /* debug */
  padding: 2rem 1rem;
  background-color: var(--color-secondary-l);
}

.col-2 {
  width: calc((100% / 3) * 2 - 15px);

  /* debug */
  padding: 2rem 1rem;
  background-color: var(--color-secondary-l);
}

/* ---------- COLORS ---------- */
/* Background */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-l {
  background-color: var(--color-secondary-l);
}

/* Font */
.font-secondary-l {
  color: var(--color-secondary-l);
}


/* --------------- CONTENT --------------- */
header .flex-row {
  justify-content: space-between;
}

#jumbotron .flex-row {
  gap: 15px;
}

footer {
  background-color: rgb(25, 25, 25);
}


/* --------------- DEBUG --------------- */
section {
  padding: 3rem 0;
}

#description .flex-col {
  align-items: center;
}

#description .col {
  padding: 20rem 10rem;
  border: 2px dashed red;
}