/* 
Breakpoints
  576px - mobile
  768px - tablet
  992px - desktop
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

:root {
  --color-primary: #9792e4;
  --color-secondary: #0084fd;
  --color-secondary-l: #b5ddff;
}

.container {
  width: 960px;
  margin: 0 auto;

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

.container-small {
  width: 75%;
  margin: 0 auto;

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

.container-smaller {
  width: 75%;
  margin: 0 auto;

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

/* --------------- UTILITIES --------------- */
/* ----- FLEX ----- */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.no-wrap {
  flex-wrap: nowrap;
}

.card-half {
  flex-wrap: nowrap;
  flex-basis: 50%;
}

/* ---------- COLUMNS ---------- */
.col-1 {
  width: calc((100% / 3) - 15px);

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

.col-2 {
  width: calc((100% / 3) * 2 - 15px);

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

.col-3 {
  width: 100%;

  /* debug */
  padding: 2rem 1rem;
  border: 2px dashed red;
}

/* ---------- COLORS ---------- */
/* Background */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-l {
  background-color: var(--color-secondary-l);
}

/* Text */
.txt-white {
  color: white;
}

.txt-secondary-l {
  color: var(--color-secondary-l);
}


/* ---------- TEXT ---------- */
.txt-center {
  text-align: center;
}

/* ---------- PADDING / MARGIN / BORDER ---------- */
.mar-int-bot {
  margin-bottom: 1rem;
}


/* --------------- CONTENT --------------- */
header .flex-row {
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  padding-left: 1rem;
}

#jumbotron .flex-row {
  gap: 15px;
}

#jumbotron .col {
  background-color: var(--color-secondary-l);
}

#jumbotron h3 {
  margin-bottom: 1rem;
}

#jumbotron .image {
  width: 75%;
  margin: auto;
}

#partners .flex-row {
  gap: 15px;
}

#benefits .flex-row {
  gap: 15px;
}

#benefits .col {
  background-color: white;
}

#about .flex-row {
  gap: 15px;
}

footer {
  background-color: rgb(25, 25, 25);
}

.button-text {
  padding: 7px 10px;
  border-radius: 20px;
  border: none;
  background-color: white;
}

.jumbo-logo {
  width: 75px;
  height: 75px;
  margin: 0 auto 1rem;
}




/* --------------- QUERIES --------------- */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
    margin: 0 auto;
  
    /* debug */
    padding: 2rem 1rem;
    border: 2px dashed red;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 520px;
    margin: 0 auto;
  
    /* debug */
    padding: 2rem 1rem;
    border: 2px dashed red;
  }

  .m-basis-half {
    flex-basis: calc(50% - 15px);
  }

  .m-basis-full {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0 auto;
  
    /* debug */
    padding: 2rem 1rem;
    border: 2px dashed red;
  }

  .s-basis-half {
    flex-basis: 50%;
  }

  .s-basis-full {
    flex-basis: 100%;
  }
}


/* --------------- DEBUG --------------- */
section {
  padding: 3rem 0;
}

.flex-col {
  align-items: center;
}

#description .col {
  padding: 20rem 10rem;
  border: 2px dashed red;
}

#partners .flex-col {
  gap: 15px;
}

#about .col {
  padding: 20rem 10rem;
  border: 2px dashed red;
}